@font-face {
    font-family: "Audiowide";
    src: url(assets/audiowide/Audiowide-Regular.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px dotted red; */
}

.container {
    background: 
    url("assets/parking.jpg")
    #0a0a0a
    no-repeat
    scroll
    0px 0px / 100% 100%;
    height: 100vh;
}

.head-text {
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-family: Audiowide;
    font-size: clamp(3rem, 3rem + 5vw, 6rem);
}