@font-face {
    font-family: "Audiowide";
    src: url(assets/audiowide/Audiowide-Regular.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --theme-color-light-yellow: rgba(250, 244, 98);
    --theme-color-yellow: rgba(255, 213, 0);
    --theme-color-blue: rgba(100, 151, 214);
    --theme-color-dark: rgba(54, 46, 45);
    --theme-color-light: rgba(215, 201, 196);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.3;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--theme-color-dark);
}

address a {
    color: var(--theme-color-yellow);
}

a:hover {
    color: var(--theme-color-blue);
}

ul,
ol {
    margin-left: 2em;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

h1 {
    font-family: Audiowide;
    font-size: clamp(1rem, 1rem + 1vw, 3rem);
    text-align: center;
    color: var(--theme-color-yellow);
    animation: shadow-pulse 2s infinite ease-in-out;
}

@keyframes shadow-pulse {
    0% {
        text-shadow: 0 0 10px var(--theme-color-yellow),
                1px 1px 0 var(--theme-color-dark), 
                -1px -1px 0 var(--theme-color-dark), 
                1px -1px 0 var(--theme-color-dark), 
                -1px 1px 0 var(--theme-color-dark);
    }

    50% {
        text-shadow: 0 0 15px var(--theme-color-yellow),
                    0 0 20px var(--theme-color-light-yellow),
                1px 1px 0 var(--theme-color-dark), 
                -1px -1px 0 var(--theme-color-dark), 
                1px -1px 0 var(--theme-color-dark), 
                -1px 1px 0 var(--theme-color-dark);
    }

    100% {
        text-shadow: 0 0 10px var(--theme-color-yellow),
                1px 1px 0 var(--theme-color-dark), 
                -1px -1px 0 var(--theme-color-dark), 
                1px -1px 0 var(--theme-color-dark), 
                -1px 1px 0 var(--theme-color-dark);
    }
}

img {
    max-width: 100%;
}

.sidebar {
    background-color: var(--theme-color-dark);
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}

.sidebar ul {
    display: none;
}

.signup {
    border-radius: 20px;
    padding: 0.5em 1.5em;
    background-color: var(--theme-color-light);
    font-family: Audiowide;
}

.signup:hover {
    background-color: var(--theme-color-yellow);
    color: var(--theme-color-dark);
    border: 2px solid var(--theme-color-light);
    box-shadow: 0 0 12px var(--theme-color-yellow);
}

.img-credit {
    text-align: center;
    position: absolute;
    bottom: 10px;
    font-size: 0.8rem;
    color: var(--theme-color-light);
}

.img-credit > a {
    color: rgba(181, 167, 163);
}

.details > div {
    color: var(--theme-color-light);
    font-weight: bold;
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.content {
    background-color: var(--theme-color-yellow);
    padding: 1em;
    display: grid; 
    gap: 1em;
    overflow: auto;
}

h3 {
    margin-bottom: 0.5em;
}

.content p {
    max-width: 65ch;
    margin: 0.5em;
}

@media (max-width: 800px) {
    .wide {
        display: none;
    }

    img,
    .img-credit {
        display: none;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 12% 88%;
    }

    .sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 150px;
    justify-items: left;
    }

    h1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        padding: 0.5em 1em;
    }

    .details {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        display: flex;
        gap: 0.5em;
    }

    .details > div {
        gap: 0.3em;
        font-size: 0.8em;
    }

    .nav {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        margin: 0 0.5em 0 auto;
    }
}